::selection {
    color: #FFFFFF;
    background-color: rgb(15, 122, 216);
}

html {
  background-color: #FAFAFA;
}

body {
  background-color: white;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Source Sans Pro';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html, body,
h1, h2, h3, h4, h5, h6,
ul, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
}

button:focus, button:active {
    outline: none;
}
